</br>

<%= form_tag("/properties/new", method: "post") do %>
<%= submit_tag("New") %>
<% end %>

</br>
<table border="2">
  <tr>
    <th>Property</th>
    <th>Details</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>
      <p> I AM PROPERTIES LIST (app/view/properties/list.html.erb) </p>
    </td>
    <td>
      edit
    </td>
    <td>
      delete
    </td>
  </tr>
</table>
