</br>

<%= form_tag("/properties/new", method: "post") do %>
<%= submit_tag("New") %>
<% end %>

</br>
<table border="2">
  <tr>
    <th>Property</th>
    <th>Details</th>
    <th>Delete</th>
  </tr>

  <% @properties.each do |item| %>
    <tr>
      <td>
        <%= item.name %>
      </td>
      <td>
        edit
      </td>
      <td>
        delete
      </td>
    </tr>
  <% end %>
</table>
