<div class="container">
<nav>
  <ul class="nav navbar-nav navbar-left">

    <li><%= link_to "Companies: list",   companies_list_path %></li>
    <li><%= link_to "Companies: add new", companies_new_path %></li>
  </ul>
</nav>
</div>


<div class="container">
  <h1>Companies#list</h1>
    <p>Find me in app/views/companies/list.html.erb</p>
    

    <p><%= @lista %></p>
</div>
